* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: lightgrey;
}
#main-header {
  padding-top: 20px;
  text-align: center;
}
.links {
  display: flex;
  justify-content: space-between;
}
.links a {
  margin: 10px;
}
.links a, .links a:visited {
  
  text-decoration: none;
}
footer {
  background-color: lightgrey;
  height: 60px;
}
